@font-face {
  font-family: domain;
  src: url(./Domaine.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}

#page1{
  height: 100vh;
  width: 100vw;
  background-color: #C5BDB4;
  position: relative;
}

#nav{
  height: 80px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid black;
  position: relative;
}

#nav h5{
  font-size: 13px;
  font-weight: 500;
  font-family: "Editorial new light";
}

#nav img{
  height: 21px;
  width: fit-content;
  /* background-color: yellow; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#nav i{
  font-size: 20px;
  text-align: right;
}

#elems{
  /* margin-top: 4vh; */
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 35px 60px;
  /* background-color: red; */
}

#elem1{
  /* background-color: yellow; */
  height: 100%;
  width: 30%;

  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 55px; */
  
}

#elem1 #image-div{
  height: 60%;
  width: 100%;
  overflow: hidden;

}

#image-div:hover img{
  scale: 1.1;
}

#image-div img{
  height: 100%;
  width: 100%;
  /* margin-bottom: 15px; */
  object-fit: cover;
  /* border: 1px solid rgb(39, 39, 39) */
  transition: all ease 0.5s;
}

#elem1 h4{
  margin-top: 12px;
  /* text-align: center; */
  /* background-color: blue; */
  /* height: 15%; */
  /* width: 100%; */
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "canopee";
}

#elem1 h4 span{
  background-color: #C12F0E;
  color: #C5BDB4;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  margin-left: 6px;
  text-align: center;
  border-radius: 4px;
}

#elem1 p{
  /* background-color: green; */
  /* height: 50%; */
  width: 100%;
  font-family: "Domain";
  font-size: 20px;
  color: #55534E;
  font-weight: 500;
}

#elem2{
  /* background-color: pink; */
  height: 100%;
  width: 30%;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* flex-direction: column; */
  border-right: 1px solid rgb(39, 39, 39);
  border-left: 1px solid rgb(39, 39, 39);
  /* padding: 20px 60px; */

  /* gap: 3vw; */
}

#elem2 h2{
  /* background: green; */
  /* height: 20%;
  width: 100%; */
  font-size: 4vw;
  font-family: "canopee";
  margin-top: 4px;
}

#elem2 h3{
  /* background-color: pink; */
  /* height: 50%;
  width: 100%; */
  font-family: "Editorial New Light";
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 42px;
  margin-top: 1.5vw;
}

#elem2 h5{
  /* background-color: aqua; */
  /* height: 20%;
  width: 100%; */
  font-family: "Editorial New Light";
  font-size: 1.2vw;
  font-weight: 500;
  margin-top: 2.5vw;
  color: #55534E;
}
#elem2 h5 span{
  font-family: "canopee";
  font-size: 22px;
}


#elem3{
  /* background-color: yellow; */
  height: 100%;
  width: 30%;
}

#elem3 #image-div{
  height: 60%;
  width: 100%;
  overflow: hidden;
}

#image-div img{
  height: 100%;
  width: 100%;
  /* margin-bottom: 15px; */
  object-fit: cover;
  border: 1px solid rgb(39, 39, 39)
}

#elem3 h4{
  margin-top: 12px;
  /* text-align: center; */
  /* background-color: blue; */
  /* height: 15%; */
  /* width: 100%; */
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "canopee";
  
}

#elem3 h4 span{
  background-color: #C12F0E;
  color: #C5BDB4;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  margin-left: 6px;
  text-align: center;
  border-radius: 4px;
}

#elem3 p{
  /* background-color: green; */
  /* height: 50%; */
  width: 100%;
  font-family: "Domain";
  font-size: 20px;
  color: #55534E;
  font-weight: 500;
}